body {
  background-image: url("Assets/sunset.jpg");
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav li {
  margin: 0 15px;
}
nav a {
  text-decoration: none;
  color: wheat; /* Changed from #007bff to wheat */
  font-weight: bold;
}
nav a:visited {
  color: wheat; /* Ensure visited links remain wheat color */
}
nav a:hover {
  text-decoration: underline;
}

.site-title {
  color: wheat;
}

.default-text-format {
  text-align: left;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  font-size: large;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.5); /* Translucent background */
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: wheat;
  border-radius: 10px;
  max-width: 800px;
}

p {
  text-indent: 2em;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.small-image {
  max-width: 50%;
  height: auto;
}

blockquote {
  color: wheat;
}
